/* class names cards and card seems to interfere with something (bootstrap?) */

.flips {
  width: 90%;
  float: left;
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style-type: none;
}

.flip {
  text-align: center;
  width: 100%;
  height: 100px;
}

.flip .content {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip.upside-down .content {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  background-color: green;
}

.back {
  background-color: red;
  transform: rotateY(180deg);
}
